.radio {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 52px !important;
  height: 52px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer; }
  .radio:hover {
    color: red;
    border-color: red; }

.checked {
  color: red !important;
  border-color: red !important; }

.selector button {
  width: 90%; }

.ranger {
  bottom: 13%;
  border-bottom: 1px solid;
  width: 10px;
  position: absolute;
  left: 46%; }

.typeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
