.radio {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 52px !important;
  height: 52px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    color: red;
    border-color: red;
  }
}
.checked {
  color: red !important;
  border-color: red !important;
}

.selector {
  button {
    width: 90%;
  }
}

.ranger {
  bottom: 13%;
  border-bottom: 1px solid;
  width: 10px;
  position: absolute;
  left: 46%;
}
.typeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
