body {
  font-family: Roboto,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-weight: 400; }

.header {
  border-bottom: 1px solid #c4c4c4;
  text-align: center;
  font-size: 1em; }
  .header .navbar {
    padding: 0; }
    .header .navbar-brand {
      padding-bottom: 10px;
      padding-top: 0; }
  .header .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: none;
    border-bottom: 3px solid transparent;
    color: #333 !important;
    font-weight: 400 !important; }
    .header .nav-link:hover {
      color: red !important;
      border-color: red; }
      .header .nav-link:hover h4 {
        color: #333333 !important; }
  .header ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header .navbar-content {
    line-height: 1.9;
    text-align: left;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    background: #fff;
    border-top: none;
    z-index: 1039;
    padding-top: 2em;
    padding-bottom: 2em;
    -webkit-animation: popDown 1s;
    animation: popDown 1s; }
    .header .navbar-content ul {
      padding: 3px; }

@-webkit-keyframes popDown {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes popDown {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.divider {
  border-left: 1px solid #c8c8c8;
  height: 32px;
  margin: auto; }

.menuList {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #333333 !important; }
  .menuList a {
    color: #333333; }
    .menuList a:hover {
      text-decoration: none;
      color: red; }
