body{font-family: Roboto,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-weight: 400;}

.header{
  border-bottom: 1px solid #c4c4c4;
  text-align: center;
  font-size: 1em;


  .navbar{
    padding: 0;
    &-brand{
      padding-bottom: 10px;
      padding-top: 0;
    }

  }

  .nav-link{
    display: flex;
    align-items: center;
    border-left: none;
    border-bottom: 3px solid transparent;
    color: #333!important;
    font-weight: 400!important;

    &:hover{
      color: red !important;
      border-color: red;
      h4{
        color: #333333!important;
      }
    }

  }
  ul{
    list-style: none;
    display: flex;
  }
  .navbar-content {
    line-height: 1.9;
    text-align: left;
    position: absolute;
    width: 100%;
    left: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    background: #fff;
    border-top: none;
    z-index: 1039;
    padding-top: 2em;
    padding-bottom: 2em;
    animation: popDown 1s;
    ul {
      padding: 3px;
    }
  }
}
@keyframes popDown {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.divider{
  border-left: 1px solid #c8c8c8;
  height: 32px;
  margin: auto;
}
.menuList{
  flex-direction: column;
  color: #333333!important;
  a{
    color: #333333;
    &:hover {
    text-decoration: none;
    color: red;
    }
  }
}