.header{
  border-bottom: 1px solid #c4c4c4;
  height: 50px;
  text-align: center;
  position: relative;
  font-size: 1em;
  margin-bottom: 10px;
  .navbar-brand{
    padding: 0;
  }
  .nav-link{
    border-left: none;
    border-bottom: 3px solid transparent;

    &:hover{
      color: red;
      border-color: red;
    }
  }
}