.loginMainContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px;
  max-width: 800px;
  background: white;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 2px;
  margin: 37px auto; }

.closeBtn {
  color: #333333;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
  background: transparent;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
  outline: none; }

.kyBnvO {
  display: table-cell;
  width: 55%;
  word-break: break-word;
  padding: 25px; }

.bAzGHt {
  text-align: left;
  background-color: #f7f7f7;
  width: 45%;
  position: relative;
  display: table-cell; }

.bAzGHq {
  overflow: hidden; }

.bAzGHv {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700; }

.bAzGIZ {
  cursor: pointer;
  margin: 15px 0;
  padding: 3px; }

.bzGMmm {
  display: block;
  width: 400px;
  max-width: 100%;
  height: 44px;
  font-size: 14px;
  color: #333333;
  background-color: white;
  background-image: none;
  padding: 6px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 2px;
  margin: 0 0 10px; }

.iZPqEB {
  display: block;
  width: 400px;
  max-width: 100%;
  height: 44px;
  font-size: 14px;
  color: #333333;
  background-color: white;
  background-image: none;
  padding: 6px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 2px; }

.jiZwia {
  float: right;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  background-color: white;
  font-weight: 400; }

.jEFTVA {
  background-color: #d92228;
  color: white;
  width: 165px;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 30px;
  padding: 6px 16px;
  margin: 0 10px 0 0;
  outline: none; }

.jiZwib {
  display: inline-block;
  color: #d92228;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  background-color: white;
  font-weight: 400;
  cursor: pointer;
  margin: 6px auto; }

.lhPyTX {
  background-color: #39589b;
  color: white;
  width: 100%;
  display: block;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 30px;
  padding: 6px 16px;
  margin: 24px 0px;
  outline: none; }

.jiZwhZ {
  text-align: center;
  white-space: nowrap;
  line-height: 32px;
  cursor: pointer;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial; }

.bAzGHo {
  background-size: 18px;
  margin: 5px;
  padding: 2px 12px;
  background-repeat: no-repeat; }

.bAzGHu {
  padding: 40px 30px; }

.bAzGHH {
  background-color: #0099cc;
  color: white;
  width: 180px;
  display: block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  white-space: nowrap;
  border-radius: 30px;
  margin: 24px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial; }

.bAzGIH {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%; }
